table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;

  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    cursor: pointer;
    background-color: #f2f2f2;
  }
  
  th:hover {
    background-color: #ddd;
  }
  
  .bar-chart-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
h1 {
    text-align: center;
  }
  